<div class="nav-bar">
    <div class="element-container">
        <div class="selected-element p-8">Scholarship<span class="ml-8"><img src="../../assets/nav-ic.png" alt="Nav Icon"></span></div>
        <div class="p-8">Country<span class="ml-8"><img src="../../assets/nav-ic.png" alt="Nav Icon"></span></div>
        <div class="p-8">Deadline<span class="ml-8"><img src="../../assets/nav-ic.png" alt="Nav Icon"></span></div>
        <div class="p-8">Institution<span class="ml-8"><img src="../../assets/nav-ic.png" alt="Nav Icon"></span></div>
        <div class="p-8">Study Level<span class="ml-8"><img src="../../assets/nav-ic.png" alt="Nav Icon"></span></div>
        <div class="p-8">Validity<span class="ml-8"><img src="../../assets/nav-ic.png" alt="Nav Icon"></span></div>
    </div>
</div>