<div class="main-container">

    <!-- Navbar Component -->
    <app-navbar class="mt-40"></app-navbar>

    <p class="ml-100">We found  results</p>

    <div class="content">
        <div class="results ml-100">
            
            <!-- Using ngFor to generate cards -->
            <div class="card" *ngFor="let item of cards">
                <div class="img ml-16 mt-8">
                    <img src="./assets/img1.png" alt="image 1">
                </div>

                <div class="description ml-16 mt-8">

                    <div class="heading">{{item.heading}}
                        <span class="settings">
                            <img src="./assets/bookmark.png">
                            <img src="./assets/settings.png">
                        </span>
                        
                    </div>
                    <div class="sub-heading mt-8">Provided by Taylor's University</div>
                    <div class="paragraph mt-8">Lorem ipsum dolor sit amet, at salutatus necessitatibus quo, ea meis tritani has. Quas inte. Cumio 
                        u fierent consetetur. Ad sanctus delenit debitis mel. Lorem ipsum dolor sit amet, at salu quo.
                    </div>
                    <div class="details mt-16">

                        <!-- Using ngFor to generate details -->
                        <div class="detail" *ngFor="let detail of cardDetail">
                            <div class="det-icon"><img [src]='detail.detIcon'></div>
                            <div class="det-texts ml-8">
                                <div class="det-heading">{{detail.detHeading}}</div>
                                <div class="det-text mt-8">{{detail.detText}}</div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="paginator">
                <div class="pages">
                    <div class="page sel-page">1</div>
                    <div class="page">2</div>
                    <div class="page">3</div>
                    <div class="page">4</div>
                    <div class="page">5</div>
                    <div class="page">6</div>
                    <div class="page">7</div>
                    <div class="page">8</div>
                    <div class="page">...</div>
                    <div class="page">14</div>
                </div>
                <span><img class="img-ic" src="./assets/pag-ic.png"></span>
            </div>
        </div>
    </div>

</div>
